[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "beer"]
	path = beer
	url = https://github.com/athchen/beer
[submodule "PhIPData"]
	path = PhIPData
	url = https://github.com/athchen/phipdata
